.smlinksList {
	display: flex;
	flex-direction: row;

	li {
		padding: 0 1em;
		a {
			display: block;
		}
	}
}

@media screen and (max-width: 1200px) {
	.smlinksList {
		li {
			img {
				max-width: 50px;
				max-height: 50px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.smlinksList {
		li {
			padding: 0 1em 0 0;
			img {
				max-width: 40px;
				max-height: 40px;
			}
		}
	}
}
