@import './theme.css';
@import 'tailwindcss';
/* @import '@fontsource-variable/geist-mono'; */

@utility hero-bg {
	background-image: var(--bg-hero);
	@apply bg-cover bg-center bg-no-repeat;
}

body {
	@apply hero-bg h-full font-(--font-geist) text-[--color-text];
}

.pg-wrpr {
	@apply w-full h-screen bg-[--color-bg] text-[--color-text];
}
