@import './theme.css';
@import 'tailwindcss';
@import '@fontsource-variable/geist';
/* @import '@fontsource-variable/geist-mono'; */

body {
	font-family: 'Geist Variable', sans-serif;
	background-image: url('../assets/images/devk-bg.webp');
	@apply bg-(--bg-hero) bg-cover bg-center bg-no-repeat h-full;
}

main {
	@apply w-full h-screen flex justify-center bg-(--color-bg) text-(--color-text);
}
