@import 'tailwindcss' layer(theme);
@import '@fontsource-variable/geist';
@import '@fontsource-variable/geist-mono';

@theme {
	--color-text: hsl(0 0% 0% / 0.95);
	--color-bg: hsl(0 0% 100% / 0.95);
	--bg-hero: url('../assets/images/devk-bg.webp');
	--color-text-dark: hsl(0 0% 100% / 0.95);
	--color-bg-dark: hsl(0 0% 0% / 0.95);
	--font-geist: 'Geist Variable', sans-serif;
	--font-geist-mono: 'Geist Mono Variable', monospace;
}
