.galleryWrapper {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	img {
		transition: all 400ms ease;
		&:hover {
			transform: scale(1.05);
		}
	}
}

@media screen and(min-width: 1441px) {
	.galleryWrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
@media screen and(min-width: 1920px) {
	.galleryWrapper {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}
