---
import { Picture } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
import myProfilePic from "../assets/images/profile-pic.png";
import { HOME_SITE_TITLE, HOME_SITE_DESCRIPTION } from "../consts";
---

<PageLayout title={HOME_SITE_TITLE} description={HOME_SITE_DESCRIPTION}>
    <div class="pg-bg w-full h-screen bg-black">
        <main class=""></main>
    </div>
</PageLayout>
