---
import { Image } from 'astro:assets';
import PageLayout from '../layouts/PageLayout.astro';
import myProfilePic from '../assets/images/profile-pic.png';
import { HOME_SITE_TITLE, HOME_SITE_DESCRIPTION } from '../consts';
---

<PageLayout title={HOME_SITE_TITLE} description={HOME_SITE_DESCRIPTION}>
	<main class='home py-28py-28 flex items-center justify-center'>
		<div class='home-content flex flex-col items-center text-center'>
			<Image
				src={myProfilePic}
				class="rounded-full bg-kred border-4 border-solid border-kgreen"
				width='320'
				height='320'
				alt='my_profile_pic'
			/>
			<h4 class='pt-8 text-2xl'>Developer</h4>
			<h1 class='text-8xl text-kred'>
				Kasun <br /> Lakshitha
			</h1>
		</div>
	</main>
</PageLayout>
