---
import PageLayout from "../layouts/PageLayout.astro";
import { HOME_SITE_TITLE, HOME_SITE_DESCRIPTION } from "../consts";
---

<PageLayout title={HOME_SITE_TITLE} description={HOME_SITE_DESCRIPTION}>
        <main class="py-8 pb-32">
            <div class="container mb-4 lg:mb-8">
                <h1 class="text-2xl lg:text-4xl font-bold font-geistmono">Kasun Lakshitha</h1>
            </div>
            <div class="container flex flex-col gap-4 font-geistmono">
                <p class="text-base">
                    Hey there! I'm a <mark class="bg-accent text-text-light">Developer</mark> and <mark class="bg-accent text-text-light">YouTuber</mark> with <mark class="bg-accent text-text-light">7+ years</mark> of experience building beautiful, responsive web applications. I specialize in <mark class="bg-accent text-text-light underline">React</mark>, <mark class="bg-accent text-text-light underline">Next.js</mark>, <mark class="bg-accent text-text-light underline">Astro</mark>, <mark class="bg-accent text-text-light underline">TailwindCSS</mark>, <mark class="bg-accent text-text-light underline">Redux Toolkit</mark>, <mark class="bg-accent text-text-light underline">Zustand</mark>, <mark class="bg-accent text-text-light underline">Tanstack Query</mark>, <mark class="bg-accent text-text-light underline">Tanstack Router</mark>, <mark class="bg-accent text-text-light underline">Tanstack Start</mark>, <mark class="bg-accent text-text-light underline">React Router</mark>     and modern web technologies. While my tech stack evolves with industry trends, my focus remains constant: <mark class="bg-accent text-text-light">creating pixel-perfect, responsive applications that users genuinely enjoy.</mark>
                </p>
                <p class="text-base">
                    Beyond coding, I create video content on <mark class="bg-accent text-text-light"><a href="https://www.youtube.com/@devkasun" target="_blank">YouTube</a></mark> focused on modern web development. As I learn new things, I share my knowledge as a content creator. You can also connect with me on <mark class="bg-accent text-text-light"><a href="https://x.com/KasunLuckshitha" target="_blank">X/Twitter</a></mark>, <mark class="bg-accent text-text-light"><a href="https://www.instagram.com/devkasun/" target="_blank">Instagram</a></mark>, and <mark class="bg-accent text-text-light"><a href="https://www.tiktok.com/@devkasun" target="_blank">TikTok</a></mark>.
                </p>
                <p class="text-base">
                    Want to see what I'm building? Check out my <mark class="bg-accent text-text-light"><a href="/projects">projects</a></mark> and <mark class="bg-accent text-text-light"><a href="/blog">blog articles</a></mark> on web development.
                </p>
            </div>
        </main>
</PageLayout>
