---
import { Image } from "astro:assets";
import logoImage from "../assets/images/logo-red.svg";
---

<header class="fixed z-10 top-0 w-full h-fit py-4 bg-kwhite">
    <div
        class="container mx-auto px-8 flex items-start lg:items-center justify-between"
    >
    </div>
</header>
