---
import { Image } from "astro:assets";
import logoImage from "../assets/images/logo-red.svg";
---

<header class="w-full">
        <nav class="container-full py-4 font-geistmono"> 
            <ul class="flex items-center gap-8 justify-end">
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="https://github.com/DevKasun" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@devkasun" target="_blank">YouTube</a>
                </li>
                <li>
                    <a href="/about" target="_blank">
                    
                    </a>
                </li>
            </ul>
        </nav>
</header>
