---
interface SkillsProps {
	skills: String[];
}
const { skills } = Astro.props as SkillsProps;
---

<div class='flex flex-wrap'>
	{
		skills.map((skill) => (
			<span class='p-1 m-1 bg-kgreen text-kwhite rounded-md cursor-pointer duration-300 hover:text-kgreen hover:bg-kwhite'>
				{skill}
			</span>
		))
	}
</div>
