---
interface TechStackProps {
	techStack: String[];
}
const { techStack } = Astro.props as TechStackProps;
---

<span
	class='p-1 m-1 bg-kgreen text-kwhite rounded-md cursor-pointer duration-300'
>
	{techStack}
</span>
