.flexSlider {
	display: flex;
	min-height: 750px;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	width: 100%;
	min-width: 100%;
	flex-direction: column;

	@media only screen and (min-width: 900px) {
		flex-direction: row;
	}
}
