---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en' class='min-h-full'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class='h-screen'>
		<Header />
		<slot />
	</body>
</html>
